[Unit]
Description=BirdPlan monitor for BIRD.
After=bird.service
Requires=bird.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStart=/usr/bin/birdplan-monitor

ConfigurationDirectory=birdplan
StateDirectory=birdplan
StateDirectoryMode=0750
ReadWritePaths=/etc/bird/bird.conf /run/bird

User=birdplan
SupplementaryGroups=bird

LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service


[Install]
WantedBy=multi-user.target
